@tailwind base;
@tailwind components;
@tailwind utilities;

/* NProgress styles */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000000;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #000000, 0 0 5px #000000;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
